In [56]:
from entsoe import EntsoePandasClient
import pandas as pd

client = EntsoePandasClient(api_key='61e5bbbb-7e80-4540-a471-bd993873aa74')

start = pd.Timestamp('20230101', tz='Europe/Brussels')
end = pd.Timestamp('20231231', tz='Europe/Brussels')
country_code = 'AT'  # Belgium
country_code_from = 'FR'  # France
country_code_to = 'DE_LU' # Germany-Luxembourg
type_marketagreement_type = 'A01'
contract_marketagreement_type = "A01"
process_type = 'A01'

In [57]:
data = client.query_aggregate_water_reservoirs_and_hydro_storage(country_code, start=start, end=end)
data

2022-12-25 23:00:00+00:00    1678718.0
2023-01-01 23:00:00+00:00    1655961.0
2023-01-08 23:00:00+00:00    1597119.0
2023-01-15 23:00:00+00:00    1540674.0
2023-01-22 23:00:00+00:00    1375097.0
2023-01-29 23:00:00+00:00    1269456.0
2023-02-05 23:00:00+00:00    1184410.0
2023-02-12 23:00:00+00:00    1074334.0
2023-02-19 23:00:00+00:00    1040288.0
2023-02-26 23:00:00+00:00     945965.0
2023-03-05 23:00:00+00:00     818682.0
2023-03-12 23:00:00+00:00     779143.0
2023-03-19 23:00:00+00:00     696653.0
2023-03-26 22:00:00+00:00     641040.0
2023-04-02 22:00:00+00:00     592454.0
2023-04-09 22:00:00+00:00     528185.0
2023-04-16 22:00:00+00:00     468331.0
2023-04-23 22:00:00+00:00     450518.0
2023-04-30 22:00:00+00:00     462364.0
2023-05-07 22:00:00+00:00     470984.0
2023-05-14 22:00:00+00:00     486042.0
2023-05-21 22:00:00+00:00     566309.0
2023-05-28 22:00:00+00:00     687991.0
2023-06-04 22:00:00+00:00     780684.0
2023-06-11 22:00:00+00:00     876458.0
2023-06-18 22:00:00+00:00     980689.0
2023-06-25 22:00:00+00:00    1123011.0
2023-07-02 22:00:00+00:00    1236938.0
2023-07-09 22:00:00+00:00    1344774.0
2023-07-16 22:00:00+00:00    1498091.0
2023-07-23 22:00:00+00:00    1584708.0
2023-07-30 22:00:00+00:00    1693210.0
2023-08-06 22:00:00+00:00    1814757.0
2023-08-13 22:00:00+00:00    1849541.0
2023-08-20 22:00:00+00:00    1815293.0
2023-08-27 22:00:00+00:00    1929379.0
2023-09-03 22:00:00+00:00    1955406.0
2023-09-10 22:00:00+00:00    1901084.0
2023-09-17 22:00:00+00:00    1879200.0
2023-09-24 22:00:00+00:00    1876532.0
2023-10-01 22:00:00+00:00    1861453.0
2023-10-08 22:00:00+00:00    1799814.0
2023-10-15 22:00:00+00:00    1751338.0
2023-10-22 22:00:00+00:00    1761084.0
2023-10-29 23:00:00+00:00    1809407.0
2023-11-05 23:00:00+00:00    1819247.0
2023-11-12 23:00:00+00:00    1775345.0
2023-11-19 23:00:00+00:00    1766548.0
2023-11-26 23:00:00+00:00    1707104.0
2023-12-03 23:00:00+00:00    1590420.0
2023-12-10 23:00:00+00:00    1545639.0
2023-12-17 23:00:00+00:00    1507174.0
2023-12-24 23:00:00+00:00    1543144.0
dtype: float64

In [48]:
import requests
from bs4 import BeautifulSoup
import http.client
import csv

# Set max_headers to a higher value
http.client._MAXHEADERS = 1000

# Function to download table data from a URL
def download_table_data(url):
    # Send a GET request to the webpage
    response = requests.get(url)

    # Raise an error if there are too many headers
    if len(response.headers) > 100:
        raise Exception("Too many headers in the response")

    # Parse the HTML content of the webpage
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find the table element
    table = soup.find('table')

    # Extract data from the table
    data = []
    for row in table.find_all('tr'):
        row_data = []
        for cell in row.find_all('td'):
            row_data.append(cell.text.strip())
        if row_data:  # Ensures we don't add empty rows
            data.append(row_data)

    return data


# Example usage:
url = 'https://transparency.entsoe.eu/generation/r2/waterReservoirsAndHydroStoragePlants/show?name=&defaultValue=false&viewType=TABLE&areaType=CTY&atch=false&dateTime.dateTime=01.01.2016+00:00|UTC|YEAR&dateTime.endDateTime=01.01.2024+00:00|UTC|YEAR&area.values=CTY|10YAT-APG------L!CTY|10YAT-APG------L'
table_data = download_table_data(url)
if table_data:
    for row in table_data:
        print(row)

    output_file_path = "/home/ray/Desktop/Backup/Prueva/prueva1.csv"
    with open(output_file_path, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerows(table_data)

['Week 01', '1045237', '825978', '1269659', '1412194', '1570578', '1117055', '1311570', '1655961', '1537771']
['Week 02', '1020559', '784999', '1239217', '1372937', '1533996', '1007379', '1260206', '1597119', '1423063']
['Week 03', '988529', '736945', '1173769', '1326312', '1426254', '952429', '1174620', '1540674', '1260750']
['Week 04', '952521', '647447', '1056605', '1176602', '1273793', '899576', '1037006', '1375097', '1157852']
['Week 05', '946382', '574658', '989005', '1077808', '1156977', '853281', '962906', '1269456', '1073592']
['Week 06', '909004', '533869', '890512', '1004592', '1153654', '748222', '933635', '1184410', '1018434']
['Week 07', '844510', '528844', '803073', '929553', '1137108', '666611', '879665', '1074334', '936302']
['Week 08', '787908', '525197', '681020', '862072', '1086259', '611769', '885628', '1040288', '880475']
['Week 09', '714025', '520021', '605809', '794181', '1062706', '534981', '807447', '945965', '784374']
['Week 10', '634969', '484480', '503536', '748352', '1015282', '454595', '693482', '818682', '663585']
['Week 11', '550396', '474694', '427773', '709164', '961767', '401931', '639839', '779143', '570068']
['Week 12', '449762', '467394', '367426', '651259', '931444', '349156', '609961', '696653', '477319']
['Week 13', '436803', '439512', '323029', '594518', '862319', '328343', '564987', '641040', '413065']
['Week 14', '433903', '411399', '324036', '541928', '738395', '316830', '542635', '592454', '395407']
['Week 15', '422118', '391455', '322445', '457413', '665637', '275505', '514814', '528185', '394559']
['Week 16', '397331', '393654', '322607', '405422', '684287', '269440', '473013', '468331', '399773']
['Week 17', '373351', '378402', '384622', '448854', '721438', '292186', '403187', '450518', '340269']
['Week 18', '367185', '376944', '462357', '451052', '708383', '321166', '376285', '462364', '-']
['Week 19', '391199', '376608', '563938', '420343', '708108', '354573', '404104', '470984', '-']
['Week 20', '392256', '434020', '629988', '404278', '770601', '379549', '521892', '486042', '-']
['Week 21', '423614', '516554', '675667', '425504', '844063', '411966', '741362', '566309', '-']
['Week 22', '518826', '630154', '774086', '508035', '923587', '433519', '849573', '687991', '-']
['Week 23', '596714', '790971', '911618', '633327', '932650', '548224', '1039793', '780684', '-']
['Week 24', '719299', '889162', '982583', '891204', '1011564', '738921', '1125611', '876458', '-']
['Week 25', '832085', '977080', '1072631', '1151153', '1122407', '960466', '1160127', '980689', '-']
['Week 26', '965186', '1109408', '1146615', '1333426', '1180014', '1091048', '1272332', '1123011', '-']
['Week 27', '1086292', '1205375', '1211450', '1456081', '1309394', '1200078', '1403125', '1236938', '-']
['Week 28', '1189228', '1292783', '1302507', '1516347', '1457304', '1362001', '1472437', '1344774', '-']
['Week 29', '1227339', '1363728', '1341843', '1525238', '1518133', '1527934', '1506209', '1498091', '-']
['Week 30', '1213870', '1445422', '1381121', '1572891', '1570448', '1618035', '1583697', '1584708', '-']
['Week 31', '1256775', '1535390', '1444227', '1695615', '1631195', '1745758', '1715317', '1693210', '-']
['Week 32', '1380409', '1646395', '1500726', '1746547', '1728887', '1809100', '1796278', '1814757', '-']
['Week 33', '1461695', '1697579', '1570134', '1808417', '1749681', '1813131', '1765103', '1849541', '-']
['Week 34', '1475904', '1723390', '1590460', '1853245', '1770731', '1808115', '1807960', '1815293', '-']
['Week 35', '1462535', '1699862', '1669709', '1870542', '1787368', '1781623', '1873203', '1929379', '-']
['Week 36', '1479219', '1729667', '1738514', '1853674', '1889601', '1748458', '1943380', '1955406', '-']
['Week 37', '1490842', '1735631', '1741437', '1869218', '1881744', '1725763', '1947791', '1901084', '-']
['Week 38', '1512694', '1724841', '1758824', '1846058', '1827376', '1770991', '1979697', '1879200', '-']
['Week 39', '1461205', '1681783', '1796341', '1850987', '1813661', '1765433', '1936840', '1876532', '-']
['Week 40', '1417067', '1681296', '1915721', '1851101', '1817463', '1782655', '1986419', '1861453', '-']
['Week 41', '1364113', '1704573', '1874838', '1875628', '1884485', '1765350', '1966711', '1799814', '-']
['Week 42', '1322498', '1652668', '1838550', '1878607', '1901884', '1729692', '1963640', '1751338', '-']
['Week 43', '1277134', '1622939', '1810607', '1870986', '1868049', '1716410', '2001005', '1761084', '-']
['Week 44', '1272662', '1629403', '1893120', '1871050', '1875010', '1717056', '1947915', '1809407', '-']
['Week 45', '1269272', '1597426', '1911657', '1875843', '1901278', '1659182', '1919050', '1819247', '-']
['Week 46', '1253268', '1550100', '1855791', '1814659', '1844820', '1557858', '1880574', '1775345', '-']
['Week 47', '1256411', '1514230', '1725074', '1763652', '1771305', '1475039', '1874133', '1766548', '-']
['Week 48', '1198418', '1463689', '1623054', '1719248', '1646477', '1441692', '1828143', '1707104', '-']
['Week 49', '1108707', '1404330', '1563081', '1650410', '1484928', '1402617', '1756788', '1590420', '-']
['Week 50', '1007832', '1380317', '1492987', '1568352', '1363739', '1323892', '1677478', '1545639', '-']
['Week 51', '885063', '1266727', '1383749', '1527181', '1244037', '1274576', '1636954', '1507174', '-']
['Week 52', '866343', '1259083', '1391960', '1564023', '1198183', '1297334', '1678718', '1543144', '-']
['Week 53', '', '', '', '', '1192861', '', '', '', '']

In [55]:
import pandas as pd
import os

# Define the variables
start_year = 2016
end_year = 2024
data_year = 2023
file_path = "/home/ray/Desktop/Backup/ReservoirLevel/AT/2023_1.csv"

# Change the name of the original CSV file
new_file_name = f"{start_year}_{end_year}.csv"
new_file_path = os.path.join(os.path.dirname(file_path), new_file_name)
os.rename(file_path, new_file_path)

# Read the original CSV file
df = pd.read_csv(new_file_path)

# Extract the required columns
columns_to_extract = ['Week', str(data_year)]  # Assuming the column with data_year as name is string type
df_extracted = df[columns_to_extract]

# Save the extracted columns to a new CSV file
output_file_name = f"{data_year}_1.csv"
output_file_path = os.path.join(os.path.dirname(file_path), output_file_name)
df_extracted.to_csv(output_file_path, index=False)

In [10]:
import pandas as pd

# Define the variables
data_year = "2023"
file_path = "/home/ray/Desktop/Backup/ReservoirLevel/AT/2023_1.csv"

# Read the CSV file
df = pd.read_csv(file_path)

# Extract week number from the 'Week' column
df['Week'] = df['Week'].str.extract(r'(\d+)').astype(int)  # Extract digits from the string and convert to int

# Calculate the dates
start_date = pd.to_datetime(f'{data_year}-01-01')  # Start from January 1st of the specified year
df['Dispa-SET_Date'] = start_date + pd.to_timedelta((df['Week'] - 1) * 7, unit='D')  # Add the corresponding number of weeks

# Convert to string in the desired format
df['Dispa-SET_Date'] = df['Dispa-SET_Date'].dt.strftime('%Y-%m-%d 00:00:00+00:00')

# Save the DataFrame back to the original CSV file
df.to_csv(file_path, index=False)

# Print the result
print("DataFrame saved back to the original CSV file.")

DataFrame saved back to the original CSV file.

In [1]:
import datetime

# Define the year
year = 2020

# Get the last day of the year
last_day_of_year = datetime.date(year, 12, 31)

# Get the ISO calendar week number of the last day of the year
_, last_week_number, _ = last_day_of_year.isocalendar()

print(f"The number of weeks in {year} is {last_week_number}.")

The number of weeks in 2020 is 53.

In [4]:
import os
import pandas as pd

# Define the start and end years
start_year = 2016
end_year = 2024

# Define the folder path
folder_path = "/home/ray/Desktop/Backup/ReservoirLevel/AT/"

# Define the file name
file_name = f"{start_year}_{end_year}.csv"

# Construct the full file path
file_path = os.path.join(folder_path, file_name)

# Read the CSV file
df = pd.read_csv(file_path)

# Add a new row with 'Week 54' in the first column
df.loc[len(df)] = ['Week 54'] + [None] * (len(df.columns) - 1)

# Iterate over columns (excluding the first one)
for col in df.columns[1:]:
    # Read the last row of the column
    last_row_value = df.iloc[-1][col]
    
    # If the last row is empty
    if pd.isna(last_row_value):
        # Copy the value from the next column
        next_col_index = df.columns.get_loc(col) + 1
        if next_col_index < len(df.columns):
            next_col_name = df.columns[next_col_index]
            next_col_first_value = df.iloc[0][next_col_name]
            df.iloc[-1, df.columns.get_loc(col)] = next_col_first_value
        
        # Repeat the same process for the penultimate row
        penultimate_row_value = df.iloc[-2][col]
        if pd.isna(penultimate_row_value):
            if next_col_index < len(df.columns):
                next_col_second_value = df.iloc[1][next_col_name]
                df.iloc[-2, df.columns.get_loc(col)] = next_col_second_value

# Save the modified DataFrame back to the CSV file
df.to_csv(file_path, index=False)

print("Process completed successfully.")

Process completed successfully.

/tmp/ipykernel_865509/3444759729.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df.loc[len(df)] = ['Week 54'] + [None] * (len(df.columns) - 1)
/tmp/ipykernel_865509/3444759729.py:35: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1537771' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[-1, df.columns.get_loc(col)] = next_col_first_value

In [6]:
import os
import pandas as pd

# Define the directory path and file name
folder_path = "/home/ray/Desktop/Backup/ReservoirLevel/AT/"
file_name = f"{start_year}_{end_year}.csv"
file_path = os.path.join(folder_path, file_name)

# Read the CSV file
df = pd.read_csv(file_path)

# Add a new row with 'Week 54' in the first column
df.loc[len(df)] = ['Week 54'] + [None] * (len(df.columns) - 1)

# Iterate over the rest of the columns (from the second till the last)
for col in df.columns[1:]:
    # Read the penultimate and last rows of the column
    penultimate_value = df.iloc[-2][col]
    last_value = df.iloc[-1][col]

    # If the penultimate row is empty
    if pd.isna(penultimate_value):
        # Copy the value from the next column to the penultimate field read
        next_col_index = df.columns.get_loc(col) + 1
        if next_col_index < len(df.columns):
            next_col_name = df.columns[next_col_index]
            next_col_first_value = df.iloc[0][next_col_name]
            df.iloc[-2, df.columns.get_loc(col)] = next_col_first_value

    # Copy the value of the second field from the next column to the last field of the current column
    if pd.isna(last_value):
        next_col_index = df.columns.get_loc(col) + 1
        if next_col_index < len(df.columns):
            next_col_name = df.columns[next_col_index]
            next_col_second_value = df.iloc[1][next_col_name]
            df.iloc[-1, df.columns.get_loc(col)] = next_col_second_value

# Save the modified DataFrame back to the CSV file
df.to_csv(file_path, index=False)

print("Process completed successfully.")

Process completed successfully.

/tmp/ipykernel_865509/2190952509.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df.loc[len(df)] = ['Week 54'] + [None] * (len(df.columns) - 1)
/tmp/ipykernel_865509/2190952509.py:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1537771' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[-2, df.columns.get_loc(col)] = next_col_first_value

In [4]:
import pandas as pd

# Define file paths
file_path_1 = "/home/ray/Desktop/Backup/ReservoirLevel/AT/1h/2023.csv"
file_path_2 = "/home/ray/Desktop/Backup/ReservoirLevel/AT/2023_1.csv"

# Read the last value of the first column from file_path_1
df1 = pd.read_csv(file_path_1)
last_date_file1 = df1.iloc[-1, 0]

# Read the last value of the Dispa-SET_Date column from file_path_2
df2 = pd.read_csv(file_path_2)
last_date_file2 = df2['Dispa-SET_Date'].iloc[-1]

# Check if last date from file_path_1 is less than last date from file_path_2
if last_date_file1 < last_date_file2:
    # Calculate hourly steps until reaching the last date from file_path_2
    hourly_steps = pd.date_range(start=last_date_file1, end=last_date_file2, freq='h')

    # Create a new DataFrame with hourly steps
    df_new_rows = pd.DataFrame({'Unnamed: 0': hourly_steps})

    # Append the new rows to file_path_1 DataFrame
    df1 = pd.concat([df1, df_new_rows], ignore_index=True)

    # Save the updated DataFrame back to the original CSV file
    df1.to_csv(file_path_1, index=False)
    print("New rows added successfully.")
else:
    print("No new rows need to be added.")

TypeError: can only concatenate str (not "int") to str

In [15]:
A  = "/home/ray/Desktop/Backup/ReservoirLevel/AT/1h/2023.csv"

In [16]:
A

'/home/ray/Desktop/Backup/ReservoirLevel/AT/1h/2023.csv'

In [23]:
import pandas as pd

# Define the file path (replace with your actual path)
file_path = "/home/ray/Desktop/Backup/ReservoirLevel/AT/1h/2023.csv"

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

In [24]:
df

                     Unnamed: 0  HPHS  HDAM
0     2023-01-01 00:00:00+00:00   NaN   NaN
1     2023-01-01 01:00:00+00:00   NaN   NaN
2     2023-01-01 02:00:00+00:00   NaN   NaN
3     2023-01-01 03:00:00+00:00   NaN   NaN
4     2023-01-01 04:00:00+00:00   NaN   NaN
...                         ...   ...   ...
8755  2023-12-31 19:00:00+00:00   NaN   NaN
8756  2023-12-31 20:00:00+00:00   NaN   NaN
8757  2023-12-31 21:00:00+00:00   NaN   NaN
8758  2023-12-31 22:00:00+00:00   NaN   NaN
8759  2023-12-31 23:00:00+00:00   NaN   NaN

[8760 rows x 3 columns]

In [6]:
import pandas as pd

# Define file paths
file_path_1 = "/home/ray/Desktop/Backup/ReservoirLevel/AT/1h/2023.csv"
file_path_2 = "/home/ray/Desktop/Backup/ReservoirLevel/AT/2023_1.csv"

# Read the last field of the first column from file_path_1
df1 = pd.read_csv(file_path_1)
last_date_file1 = pd.to_datetime(df1.iloc[-1, 0])

# Read the last field of the 'Dispa-SET_Date' column from file_path_2
df2 = pd.read_csv(file_path_2)
last_date_file2 = pd.to_datetime(df2['Dispa-SET_Date'].iloc[-1])

# Check if last date from file_path_1 is less than last date from file_path_2
if last_date_file1 < last_date_file2:
    # Calculate hourly steps until reaching the last date from file_path_2
    hourly_steps = pd.date_range(start=last_date_file1, end=last_date_file2, freq='1H')

    # Create a new DataFrame with hourly steps
    df_new_rows = pd.DataFrame({'Unnamed: 0': hourly_steps})

    # Append the new rows to file_path_1 DataFrame
    df1 = pd.concat([df1, df_new_rows], ignore_index=True)

    # Save the updated DataFrame back to the original CSV file
    df1.to_csv(file_path_1, index=False)
    print(f"New rows added successfully to {file_path_1}")
else:
    print(f"No new rows need to be added to {file_path_1}")

print("Overall processing finished.")

New rows added successfully to /home/ray/Desktop/Backup/ReservoirLevel/AT/1h/2023.csv
Overall processing finished.

/tmp/ipykernel_890063/2549163235.py:18: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_steps = pd.date_range(start=last_date_file1, end=last_date_file2, freq='1H')

In [7]:
import pandas as pd

# Define the file path
file_path_1 = "/home/ray/Desktop/Backup/ReservoirLevel/AT/1h/2023.csv"

# Read the CSV file
df = pd.read_csv(file_path_1)

# Remove rows with duplicated values in the first column
df = df.drop_duplicates(subset=df.columns[0], keep='first')

# Save the updated DataFrame back to the original CSV file
df.to_csv(file_path_1, index=False)

print("Duplicates removed successfully.")

Duplicates removed successfully.

In [9]:
import pandas as pd

# Define file paths and data year
file_path_1 = "/home/ray/Desktop/Backup/ReservoirLevel/AT/1h/2023.csv"
file_path_2 = "/home/ray/Desktop/Backup/ReservoirLevel/AT/2023_1.csv"
data_year = 2023

# Read CSV files
df_1 = pd.read_csv(file_path_1)
df_2 = pd.read_csv(file_path_2)

# Get the column name corresponding to the data year
year_column = str(data_year)

# Get the minimum length of both DataFrames
min_length = min(len(df_1), len(df_2))

# Iterate over the rows of both DataFrames up to the minimum length
for i in range(min_length):
    # Get the value from the 'Dispa-SET_Date' column in df_2
    date_value = df_2.at[i, 'Dispa-SET_Date']
    # Check if the value exists in the first column of df_1
    if date_value in df_1[df_1.columns[0]].values:
        # Get the index where the value is found in df_1
        index_values = df_1.index[df_1[df_1.columns[0]] == date_value]
        # Iterate over the found index values
        for index_value in index_values:
            # Copy corresponding value from df_2 and paste it to the corresponding fields of the second and third columns in df_1
            df_1.at[index_value, df_1.columns[1]] = df_2.at[i, year_column]
            df_1.at[index_value, df_1.columns[2]] = df_2.at[i, year_column]
    else:
        print(f"Date value {date_value} not found in file_path_1.")

# Save the updated DataFrame back to the original CSV file
df_1.to_csv(file_path_1, index=False)
print("Values copied successfully.")

Values copied successfully.